{% extends 'default_frame.twig' %}
{% block main %}
<div class="main_only">
  <div class="container-fluid inner no-padding">
    <div id="main">
      <div class="container-fluid">
        <div id="feature01_box__body" class="row">
          <div id="feature01_box__body_inner" class="col-md-10 col-md-offset-1"> 
            
            <!-------------------------- ▲▲▲▲いじっちゃダメ▲▲▲▲ --------------------------> 
            
            <!------------------------------------ ▼▼▼CSS（この辺はデザイナーに聞いてね）▼▼▼ ------------------------------------>
            
            <style>
                            p {
                                line-height: 1.7em;
                            }

                            a p {
                                color: #4D4D4D;
                            }

                            .topics_title {
                                text-align: center;
                                margin-bottom: 30px;
                            } 
                            .topics_title_h3 {
                                text-align: center;
                                margin-bottom: 24px;
                            }

                            .img_pc {
                                width: 70%;
                                text-align: center;
                            }

                            .topics_img_item_pc {
                                width: 50%;
                                text-align: center;
                            }

                            .topics_text {
                                text-align: center;
                                margin: 50px 0;
                            }

                            .topics_text_sub {
                                text-align: justfy;
                                color: #a5a5a5;
                            }

                            .topics_text_item {
                                text-align: center;
                                color: #a5a5a5;
                            }


                            .under {
                                background: linear-gradient(transparent 50%, #fff6c0 50%);
                            }

                            .center {
                                text-align: center;
                            }

                            .box19 {
                                position: relative;
                                padding: 0.25em 1em;
                                width: 350px;
                            }

                            .box19:before,
                            .box19:after {
                                content: '';
                                width: 20px;
                                height: 30px;
                                position: absolute;
                                display: inline-block;
                            }

                            .box19:before {
                                border-left: solid 1px #9fa0a0;
                                border-top: solid 1px #9fa0a0;
                                top: 0;
                                left: 0;
                            }

                            .box19:after {
                                border-right: solid 1px #9fa0a0;
                                border-bottom: solid 1px #9fa0a0;
                                bottom: 0;
                                right: 0;
                            }

                            .box19 p {
                                margin: 0;
                                padding: 0;
                            }


                            .box2 {
                                padding: 0.5em 1em;
                                margin: 2em 0;
                                font-weight: normal;
                                color: #ffffff;
                                /*文字色*/
                                background: #7A7A7A;
                                border: solid 3px #7A7A7A;
                                /*線*/
                                border-radius: 15px;
                                /*角の丸み*/
                                width: 350px;
                            }

                            .box2 p {
                                margin: 0;
                                padding: 5px;
                            }


                            .box_kakoi {
                                padding: 0.5em 1em;
                                margin: 2em 0;
                                border: solid 1px #bababa;
                                /*線*/
                                border-radius: 10px;
                                /*角の丸み*/
                            }

                            .box_kakoi p {
                                margin: 0;
                                padding: 0;
                            }
                            
                            .btn-item-link {
                                display: block;
                                margin: 1em auto;
                                padding: 10px;
                                background: #4D4D4D;
                                border-radius: 50px;

                            }

                            @media screen and (min-width: 768px) {
                                .btn-item-link {
                                    width: 50%;

                                }
                            }

                            .btn-item-link a {
                                color: #FFF;
                                font-weight: bold;
                                text-decoration: none;
                                text-align: center;
                            }
						ul.cp_list {
        padding: 0.5em;
        list-style-type: none;
        text-align: left;
    }

    ul.cp_list li {
        position: relative;
        padding-left: 25px;
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 0.5em;
        line-height: 2em;
    }

    ul.cp_list li:before {
        content: "";
        position: absolute;
        top: .1em;
        left: 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        width: 8px;
        height: 18px;
        border-right: 1px solid #919191;
        border-bottom: 1px solid #919191;
    }


    .ul-align-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

                        </style>
            
            <!-------------------------- ▲▲▲▲CSS（この辺はデザイナーに聞いてね）▲▲▲▲ --------------------------> 
            
                           
                    <!------------------------------------ ▼▼▼▼コンテンツ（基本的に<center></center>で囲む）▼▼▼▼ ------------------------------------>
                    
                    <center>
                      
                      <!------------------------------------ ▼▼▼▼テキスト（<h1>で囲われてるのはタイトル、<p>で囲われてるのは本文）▼▼▼▼------------------------------------>
                      
                      <h1 class="topics_title">セラキュアセンシティブシリーズの<br class="ceralabo_pc">
                        ご紹介<br> </h1>
                        <h3 class="topics_title_h3">”センシティブミルク”がベスコス受賞！ </h3>
                      
                      <!-------------------------- ▼▼▼▼画像▼▼▼▼ -------------------------->
                      
                      <center style="margin-bottom:50px;">
                        
                        <!------------------------------------ class="ceralabo_pcがついてるのはPCの時だけ、class="ceralabo_pc_none"がついてるのはSPの時だけ表示 ------------------------------------>
                        <div class="ceralabo_pc" style="width: 70%;"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_01.png"> </div>
                        <div class="ceralabo_pc_none"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_01.png"> </div>
                      </center>
                      
                      <!-------------------------- ▲▲▲▲画像▲▲▲▲ -------------------------->
                      
                      <center style="margin-bottom:100px;">
                        <!------------------------------------ <br>は普通に改行、<br class="ceralabo_pc">はPCの時だけ改行 ------------------------------------>
                        <p class="topics_text"> 発売以降大変ご好評をいただいている<br class="ceralabo_pc">
                          <span class="under">「セラキュアセンシティブシリーズ」</span>。<br>
                          <br>
                          そして、2023年9月に新登場した<br class="ceralabo_pc">
                          「センシティブミルク」が、「WWDBEAUTY 2023下半期ベストコスメ」で<br class="ceralabo_pc">
                          乳液・クリーム部門の「バラエティー・ドラッグストア」カテゴリーの<br class="ceralabo_pc">
                          新製品２位を受賞しました。<br>
                          <br>
                          センシティブミルクの”ベスコス受賞”を記念し、<br class="ceralabo_pc">
                          センシティブシリーズの<span class="under">魅力について、改めてお伝えできればと思います</span>。 </p>
                      </center>
                      
                      <!-------------------------- ▲▲▲▲テキスト（<h1>で囲われてるのはタイトル、<p>で囲われてるのは本文）▲▲▲▲ ------------------------------------>
                      
                    </center>
                    
                    <!-------------------------- ▲▲▲▲コンテンツ（<center></center>で囲む）▲▲▲▲ --------------------------> 
                    
                    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
                    
                    <center style="margin-bottom:100px;">
                      
                      <!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
                      
                      <h1 class="topics_title"> セラキュアセンシティブシリーズとは </h1>
                      <center>
                        <p class="topics_text"> その名の通り<br>
                          敏感肌のなかでも特に繊細な肌の方にも<br class="ceralabo_pc">
                          お使いいただきやすいよう、<br>
                          <span class="under">肌への負担軽減に、他のアイテム以上に*¹<br class="ceralabo_pc">
                          こだわったシリーズ</span>です。<br>
                          <br>
                          また、季節の変わり目や<br class="ceralabo_pc">
                          ホルモンバランスが乱れがちな時など、<br>
                          <span class="under">肌がゆらいでいる時にもオススメ</span>です。<br>
                          <br>
                          ボトルはユニセックスでご利用いただきやすい爽やかなブルーで、<br>
                          「セラキュアセンシティブローション」<br class="ceralabo_pc">
                          「セラキュアセンシティブジェリー」<br>
                          「セラキュアセンシティブミルク」の<br class="ceralabo_pc">
                          ３商品を展開しています。 <br>
                          <span style="font-size: 0.7em; color: #999999;">*¹当社比</span></p>
                      </center>
                      
                      <!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------>
                      
                    </center>
                    
                    <!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
                    
                    <!------------------------------------ コンテンツの間に入ってる謎の<br>は上下の余白を空けるため（使い方としてはあんま良くないけどまぁ大丈夫） ------------------------------------> 
                    <br>
                    <br class="ceralabo_pc">
                    
                    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------> 
                    
                    <!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
                    
                    <center style="margin-bottom:100px;">
                      <h1 class="topics_title">３商品の共通点「グリセリンフリー」 </h1>
                      <center>
                        <p class="topics_text"> グリセリンについて<br class="ceralabo_pc">
                          詳しく知りたい方はこちらの記事へ<br>
                          <a href="https://cores-ec.site/ceralabo/user_data/topics24">ニキビ肌は注意？「グリセリン」の話</a><br>
                          <br>
                          近年注目されている<span class="under">「グリセリンフリー」</span>のアイテムが、<br>
                          このセンシティブシリーズです。<br>
                          <br>
                          グリセリンはとても低刺激な保湿基剤と<br class="ceralabo_pc">
                          言われていますが、<br>
                          <span class="under">ニキビが気になる方は一度避けてみても<br class="ceralabo_pc">
                          いいかもしれない成分</span>です。<br>
                          <br>
                          しかし、グリセリンは化粧品の<br class="ceralabo_pc">
                          ベース成分としてさまざまな製品に<br class="ceralabo_pc">
                          配合されることが多く、<br>
                          成分表示でグリセリンが書かれていない<br class="ceralabo_pc">
                          製品を見つけることは<br class="ceralabo_pc">
                          至難の業ではないでしょうか。<br>
                          <br>
                          センシティブシリーズは、<br class="ceralabo_pc">
                          敏感肌や乾燥肌の方はもちろん、<br>
                          <span class="under">ニキビが気になる方や脂性肌の方など、<br class="ceralabo_pc">
                          幅広い肌質の方におすすめしたい<br class="ceralabo_pc">
                          シリーズ</span>です。<br>
                        </p>
                      </center>
                      <!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------>
                    </center>
                    
                    <!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
                    
                    <br>
                    <br class="ceralabo_pc">
                    
                    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
                    
                    <center style="margin-bottom:100px;">
                      
                      <!------------------------------------ ▼▼▼画像▼▼▼ ------------------------------------>
                      
                      <center style="margin-bottom:50px;">
                        <div class="img_pc ceralabo_pc"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_02.jpg"> </div>
                        <div class="ceralabo_pc_none"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_02.jpg"> </div>
                      </center>
                      
                      <!------------------------------------ ▲▲▲画像▲▲▲ ------------------------------------> 
                      
                      <!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
                      
                      <h1 class="topics_title"> セラキュアセンシティブローション </h1>
                      <center>
                        <p class="topics_text"> セラキュアセンシティブローションは、<br class="ceralabo_pc">
                          セララボのロングセラー<br>
                          「セラキュアローション」の<br class="ceralabo_pc">
                          弟分的な立ち位置で、<br>
                          <span class="under">セラミド濃度と種類を<br class="ceralabo_pc">
                          あえて減らして配合</span>しています。<br>
                          <br>
                          セラミド濃度と種類を減らすことで<br>
                          ”超敏感肌”な方にもお使いいただき<br class="ceralabo_pc">
                          やすいようになった、<br>
                          お客様のご要望から生まれた商品です。<br>
                          <br>
                          また、セラミドを減らすことで<br>
                          セラキュアローションよりも大容量かつ<br class="ceralabo_pc">
                          低価格でご提供することができ、<br>
                          <span class="under">化粧水を一度にたっぷりと使いたい方や、<br class="ceralabo_pc">
                          全身の保湿に使いたい方、<br>
                          ご家族で共有してお使いの方</span>にも<br class="ceralabo_pc">
                          お求めやすくなりました。<br>
                          <br>
                          使用感はセラキュアローションと<br class="ceralabo_pc">
                          ほとんど変わらず、<br>
                          水のようなサラサラとしたテクスチャー。<br>
                          なのに、うるおう肌に。<br>
                          さっぱりと保湿できるアイテムです。<br>
                          <br>
                          <br class="ceralabo_pc">
                        </p>
                      </center>
                      
                      <!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------> 
                      
                      <!-------------------------- ▼▼▼▼ボタン▼▼▼▼ ------------------------------------> 
                      
                      <!------------------------------------ href=以下を飛ばしたいリンクに変える ------------------------------------>
                      <div class="btn-item-link"> <a href="https://cores-ec.site/ceralabo/products/detail/54"> セラキュアセンシティブローションの<br class="ceralabo_pc">
                        商品ページへ </a> </div>
                      
                      <!-------------------------- ▲▲▲▲ボタン▲▲▲▲ ------------------------------------>
                      
                    </center>
                    
                    <!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
                    
                    <br>
                    <br class="ceralabo_pc">
                    
                    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
                    
                    <center style="margin-bottom:100px;">
                      
                      <!------------------------------------ ▼▼▼画像▼▼▼ ------------------------------------>
                      
                      <center style="margin-bottom:50px;">
                        <div class="img_pc ceralabo_pc"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_03.jpg"> </div>
                        <div class="ceralabo_pc_none"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_03.jpg"> </div>
                      </center>
                      
                      <!------------------------------------ ▲▲▲画像▲▲▲ ------------------------------------> 
                      
                      <!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
                      
                      <h1 class="topics_title"> セラキュアセンシティブジェリー </h1>
                      <center>
                        <p class="topics_text"> セラキュアセンシティブジェリーは、<br>
                          <span class="under">セラミド*²×NMF（天然保湿因子）*³を<br class="ceralabo_pc">
                          同時に補給</span>できる保湿ジェル。<br>
                          こちらもお客様より多数のご要望を<br class="ceralabo_pc">
                          いただき生まれた商品です。<br>
                          <br>
                          センシティブローションと同様に<br class="ceralabo_pc">
                          繊細な肌の方に配慮したアイテムで、<br>
                          グリセリンフリーで<span class="under">保湿力が<br class="ceralabo_pc">
                          不足しがちなところを<br>
                          NMF（天然保湿因子）*³成分で<br class="ceralabo_pc">
                          十分に保湿できるよう設計</span>しました。<br>
                          <br>
                          <span style="font-size: 0.7em; color: #999999;">*²セラミドNG、セラミドAP、セラミドAG、セラミドNP、セラミドEOP、フィトスフィンゴシン、グルコシルセラミド（エモリエント成分）<br>
                          *³ベタイン、PCA-Na、グリシン、セリン、グルタミン酸、アスパラギン酸、ロイシン、アラニン、リシン、チロシン、フェニルアラニン、トレオニン、プロリン、バリン、イソロイシン、ヒスチジン、アルギニン（保湿成分）</span><br>
                          <br>
                          さらに<span class="under">「グリセリンフリー」＆<br class="ceralabo_pc">
                          「オイルフリー」</span>で<br>
                          さっぱり、さらさらとしているのに<br class="ceralabo_pc">
                          うるうる肌に保湿される<br>
                          とても不思議なテクスチャーです。 <br>
                          <br class="ceralabo_pc">
                        </p>
                      </center>
                      
                      <!------------------------------------ ▼▼▼画像▼▼▼ ------------------------------------>
                      
                      <center style="margin-bottom:100px;">
                        <div class="img_pc ceralabo_pc"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_04.jpg"> </div>
                        <div class="ceralabo_pc_none"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_04.jpg"> </div>
                      </center>
                      
                      <!------------------------------------ ▲▲▲画像▲▲▲ ------------------------------------>
                      
                      <p class="topics_text"> すーっと伸びて肌に*⁴浸透。<br>
                        しっとり感が持続します。<br>
                        テカリやべたつきが気になる方にも<br class="ceralabo_pc">
                        大変おすすめ。<br>
                      </p>
                      <!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------> 
                      
                      <!-------------------------- ▼▼▼▼ボタン▼▼▼▼ ------------------------------------>
                      
                      <div class="btn-item-link"> <a href="https://cores-ec.site/ceralabo/products/detail/145"> セラキュアセンシティブジェリーの<br class="ceralabo_pc">
                        商品ページへ </a> </div>
                      <p class="topics_text"><span style="font-size: 0.7em; color: #999999;">*⁴角層まで</span> </p>
                      <!-------------------------- ▲▲▲▲ボタン▲▲▲▲ ------------------------------------>
                      
                    </center>
                    <!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
                    
                    <br>
                    <br class="ceralabo_pc">
                    
                    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
                    
                    <center style="margin-bottom:100px;">
                      
                      <!------------------------------------ ▼▼▼画像▼▼▼ ------------------------------------>
                      
                      <center style="margin-bottom:50px;">
                        <div class="img_pc ceralabo_pc"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_05.jpg"> </div>
                        <div class="ceralabo_pc_none"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_05.jpg"> </div>
                      </center>
                      
                      <!------------------------------------ ▲▲▲画像▲▲▲ ------------------------------------> 
                      
                      <!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
                      
                      <h1 class="topics_title"> セラキュアセンシティブミルク </h1>
                      <center>
                        <p class="topics_text"> セラキュアセンシティブミルクは、<br>
                          しっとり保湿できる”油脂フリー*⁵”の乳液。<br>
                          <br>
                          センシティブジェリーと同様に、<br class="ceralabo_pc">
                          セラミド*⁶×NMF（天然保湿因子）*⁷を同時に補給できます。<br>
                          <br>
                          <span style="font-size: 0.7em; color: #999999;">*⁵セララボでは、油性成分のうち油脂構造（トリグリセリド）であるものを油脂と指します。<br>
                          *⁶セラミドNG、セラミドAP、セラミドAG、セラミドNP、セラミドEOP、フィトスフィンゴシン、グルコシルセラミド（エモリエント成分）<br>
                          *⁷ベタイン、PCA-Na、グリシン、セリン、グルタミン酸、アスパラギン酸、ロイシン、アラニン、リシン、チロシン、フェニルアラニン、トレオニン、プロリン、バリン、イソロイシン、ヒスチジン、アルギニン（保湿成分）</span> </p>
                      </center>
                      <!-------------------------- ▼▼▼▼ボタン▼▼▼▼ ------------------------------------> 
                      
                      <!------------------------------------ href=以下を飛ばしたいリンクに変える ------------------------------------>
                      <div class="btn-item-link"> <a href="https://cores-ec.site/ceralabo/products/detail/249"> セラキュアセンシティブミルクの<br class="ceralabo_pc">
                        商品ページへ </a> </div>
                      
                      <!-------------------------- ▲▲▲▲ボタン▲▲▲▲ ------------------------------------>
                      <h1 class="topics_title" style="margin-top:100px;">セラキュアセンシティブミルク誕生秘話 </h1>
                      <center>
                        <p class="topics_text"> セラキュアセンシティブシリーズは、<br>
                          特に敏感肌の方はもちろん、<br class="ceralabo_pc">
                          グリセリンが苦手な様々な肌質の方に<br class="ceralabo_pc">
                          ご愛用いただいております。<br>
                          <br>
                          特にセンシティブジェリーについては、<br class="ceralabo_pc">
                          センシティブローションだけでは保湿力が足りず<br class="ceralabo_pc">
                          乾燥してしまうという方に向けた追加の保湿剤として<br class="ceralabo_pc">
                          多くのお客様にご利用いただいておりました。<br>
                          <br>
                          しかし、それでも保湿力が足りず乾燥してしまうというお声も<br class="ceralabo_pc">
                          いただいておりました。<br>
                          <br>
                          そこで誕生したのが、セラキュアセンシティブミルクです。<br>
                          <br>
                          センシティブシリーズの特徴である<br class="ceralabo_pc">
                          「グリセリンフリー」はもちろん、<br class="ceralabo_pc">
                          乳液なのに「油脂フリー*⁵」。 <br>
                          <br>
                          皮脂や毛穴の悩みを持つ方にも使いやすい成分構成です。<br>
                          <br>
                          <span style="font-size: 0.7em; color: #999999;">*⁵セララボでは、油性成分のうち油脂構造（トリグリセリド）であるものを油脂と指します。</span> </p>
                      </center>
                      <h1 class="topics_title">セラキュアセンシティブミルクの製品特徴</h1>
                      <center>
                        <p class="topics_text"> 「さっぱり派」だけどしっかり保湿したい方など<br class="ceralabo_pc">
                          肌質を問わず幅広く使えるよう、<br class="ceralabo_pc">
                          オイルの種類・配合量をバランスよく調整しました。<br>
                          <br>
                          オイルフリーのアイテムではエモリエント感が無く、<br class="ceralabo_pc">
                          特に冬場は乾燥しがちですが、<br class="ceralabo_pc">
                          ホホバ種子油*⁸やスクワラン*⁹、<br class="ceralabo_pc">
                          エステルオイル*¹⁰を配合することで、<br class="ceralabo_pc">
                          べたつきを感じにくく、ちょうどよく保湿できます。 <br>
                          <br>
                          また、敏感肌に不足しがちなNMF成分（アミノ酸15種類*⁷）を配合しました。<br>
                          <br>
                          <span style="font-size: 0.7em; color: #999999;">*⁷ベタイン、PCA-Na、グリシン、セリン、グルタミン酸、アスパラギン酸、ロイシン、アラニン、リシン、チロシン、フェニルアラニン、トレオニン、プロリン、バリン、イソロイシン、ヒスチジン、アルギニン（保湿成分）<br>
                          *⁸エモリエント成分<br>
                          *⁹エモリエント成分<br>
                          *¹⁰ミリスチン酸オクチルドデシル（エモリエント成分）</span><br>
                          <br>
                          柔らかい肌あたりで伸びがよく、しっとりしつつもべたつかない軽い使用感が特徴です。</p>
                      </center>
                      <!------------------------------------ ▼▼▼画像▼▼▼ ------------------------------------>
                      
                      <center style="margin-bottom:100px;">
                        <div class="img_pc ceralabo_pc"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_06.jpg"> </div>
                        <div class="ceralabo_pc_none"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_06.jpg"> </div>
                      </center>
                      
                      <!------------------------------------ ▲▲▲画像▲▲▲ ------------------------------------>
                      <h1 class="topics_title">セラキュアセンシティブミルクはどんな人におすすめ？</h1>
                      <ul class="cp_list ul-align-center left" style="max-width: 25em; align-items: flex-start;">
                        <li>ベタつきが苦手</li>
                        <li>毛穴の開きが気になる</li>
                        <li>グリセリンフリーの保湿アイテムを探している</li>
                        <li>セラミドだけでなくNMFも補給したい</li>
                        <li>センシティブジェリーのみだと乾燥が気になる</li>
                      </ul>
                      <h1 class="topics_title">セラキュアセンシティブミルクが”ベスコス”受賞！</h1>
                      <center>
                        <p class="topics_text">そんなセラキュアセンシティブミルクが、<br class="ceralabo_pc">
                          「WWDBEAUTY 2023下半期ベストコスメ」で<br class="ceralabo_pc">
                          乳液・クリーム部門の「バラエティー・ドラッグストア」カテゴリーの<br class="ceralabo_pc">
                          新製品２位を受賞しました。 </p>
                      </center>
                      <!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------> 
                      <!------------------------------------ ▼▼▼画像▼▼▼ ------------------------------------>
                      
                      <center style="margin-bottom:50px;">
                        <div class="img_pc ceralabo_pc"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_07.png"> </div>
                        <div class="ceralabo_pc_none"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_07.png"> </div>
                      </center>
                      
                      <!------------------------------------ ▲▲▲画像▲▲▲ ------------------------------------> 
                      
                      <!-------------------------- ▼▼▼▼ボタン▼▼▼▼ ------------------------------------>
                      
                      <div class="btn-item-link"> <a href="https://cores-ec.site/ceralabo/products/detail/249"> セラキュアセンシティブミルクの<br class="ceralabo_pc">
                        商品ページへ </a> </div>
                      
                      <!-------------------------- ▲▲▲▲ボタン▲▲▲▲ ------------------------------------>
                      
                    </center>
                    <!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
                    
                    <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------> 
                    
                    <!-------------------------- ▼▼▼▼テキスト▼▼▼▼ ------------------------------------>
                    
                    <center style="margin-bottom:100px;">
                      <p class="topics_text"> みなさんも、ぜひセラキュアセンシティブシリーズのスキンケアを試してみてくださいね。<br>
                      </p>
                      
                      <!-------------------------- ▲▲▲▲テキスト▲▲▲▲ ------------------------------------> 
                      
                      <!------------------------------------ ▼▼▼画像▼▼▼ ------------------------------------>
                      
                      <center style="margin-bottom:50px;">
                        <div class="img_pc ceralabo_pc"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_08.jpg"> </div>
                        <div class="ceralabo_pc_none"> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_08.jpg"> </div>
                      </center>
                      
                      <!------------------------------------ ▲▲▲画像▲▲▲ ------------------------------------> 
                    
                    <!-------------------------- ▲▲▲▲コンテンツ▲▲▲▲ ------------------------------------> 
            
            <!------------------------------------ ▼▼▼いじっちゃダメ▼▼▼ ------------------------------------> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}