純粋レチノール*¹を含む４種のレチノール*²と７種のエイジングケア成分*³を同時配合したレチノール美容液。
積極的にエイジングケア*⁴に取り組みたいアクティブな方におすすめです。
(レチノール成分合計濃度 約０．１%)

はじめてレチノールを使う方は、セラキュアスペリオセラムAから。

セラキュア スペリオセラムAは<a href="https://cores-ec.site/ceralabo/products/detail/255">こちら</a>

今までにレチノール配合の製品で肌トラブルが起きた方は、必ず店頭テスターや試供品で事前にお試しください。
またご利用後肌トラブルが落ち着かない場合はご使用をお控えください。
<a href="#faq" data-smoothScroll><font size="2">お試しについて詳細はこちら</font></a>

<font size="1"><font color="#a9a9a9">*¹レチノール(整肌成分)
*²レチノール、水添レチノール、パルミチン酸レチノール 、リノール酸レチノール(整肌成分)
*³ヘマトコッカスプルビアリスエキス、テトラヘキシルデカン酸アスコルビル、ナイアシンアミド、シアノコバラミン、グルコシルヘスペリジン、酢酸トコフェロール、トコフェロール(整肌成分)
*⁴エイジングケアとは、年齢に応じた保湿のお手入れのことです</font></font>

<font size="2">■</font>商品名：CeraShell Vita Serum A

<font size="2">■</font>内容量：30mL

<font size="2">■</font>全成分：水、ＢＧ、ベタイン、テトラヘキシルデカン酸アスコルビル、加水分解コラーゲン、加水分解エラスチン、水添レチノール、パルミチン酸レチノール 、リノール酸レチノール、レチノール、ナイアシンアミド、セラミドＥＯＰ、セラミドＮＧ、セラミドＮＰ、セラミドＡＧ、セラミドＡＰ、フィトスフィンゴシン、セレブロシド、グルコシルセラミド、グルコシルヘスペリジン、酢酸トコフェロール、トコフェロール、α－グルカン、フィトステロールズ、水添レシチン、ヒアルロン酸Ｎａ、ヘマトコッカスプルビアリスエキス、シアノコバラミン、加水分解水添デンプン、グリコシルトレハロース、ＰＣＡ－Ｎａ、ペンチレングリコール、グリセリン、グルコシルルチン、アルギニン、スクワラン、トリ（カプリル酸／カプリン酸）グリセリル、コーン油、（アクリル酸ヒドロキシエチル／アクリロイルジメチルタウリンＮａ）コポリマー、カルボマー、キサンタンガム、ＥＤＴＡ－２Ｎａ、イソステアリン酸ソルビタン、ポリソルベート６０、フェノキシエタノール、メチルパラベン

<font size="2">■</font>不使用成分：エタノール / 香料 / 精油 / 着色剤 / 陰イオン界面活性剤 / 植物エキス

<font size="2">■</font>送料：全国一律無料

<a href="#faq" data-smoothScroll><font size="2">■</font>よくある質問はこちら⬇︎</a>

<a href="#movie" data-smoothScroll><font size="2">■</font>解説動画はこちら⬇︎</a>


<hr noshade="" align="left">

<style>
			.freearea_main {
				max-width: 760px;
				margin: 0 auto;
			}		
    p {
        line-height: 2em;
        color: #4D4D4D;
        padding: 0;
        margin: 0;
    }

    .main_title {
        font-size: 2em;
        text-align: center;
    }

    .main_title_sp {
        font-size: 1.6em;
        text-align: center;
    }

    .title_sub {
        font-size: 24px;
    }


    .title {
        position: relative;
        display: inline-block;
        margin-bottom: 2em;
        text-align: center;
        color: #4D4D4D;
    }

    .title:before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 60px;
        height: 2.5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #525263;
        border-radius: 2px;
    }

    .title_2 {
        padding: 0.3em 1.5em 0.3em 1.5em;
        /*文字周りの余白*/
        color: #fff;
        /*文字色*/
        background: #b3b3b3;
        /*背景色*/
        border-radius: 100vh;
    }

    .title_pnt {
        position: relative;
        display: inline-block;
        margin-bottom: 3em;
        text-align: center;
        color: #4D4D4D;
    }

    .title_pnt::before {
        content: '';
        position: absolute;
        bottom: -40px;
        display: inline-block;
        width: 60px;
        height: 1px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #525263;
        border-radius: 2px;
    }

    .img_pc {
        width: 70%;
        text-align: center;
    }

    .text_sub {
        font-size: 12px;
        color: #a5a5a5;
        margin-top: -10px;
        line-height: -1em;
    }

    .under {
        background: linear-gradient(transparent 50%, #fff6c0 50%);
    }

    .bold {
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left;
    }

    .box1 {
        padding: 0.5em 1em;
        margin: 2em 0;
        border: solid 1px #dbdbdb;
    }

    .box3 {
        padding: 0.5em 2em;
        margin: 2em 0;
        color: #2c2c2f;
        background: #f8f8f8;
        /*背景色*/
    }

    .box3 p {
        color: #4d4d4d;
    }

    .box3 .title_sub {
        color: #333333;
    }

    .box19 {
        position: relative;
        padding: 0.25em 1em;
        width: 85%;
    }

    .box19:before,
    .box19:after {
        content: '';
        width: 30px;
        height: 40px;
        position: absolute;
        display: inline-block;
    }

    .box19:before {
        border-left: solid 2px #777777;
        border-top: solid 2px #777777;
        top: 0;
        left: 0;
    }

    .box19:after {
        border-right: solid 2px #777777;
        border-bottom: solid 2px #777777;
        bottom: 0;
        right: 0;
    }

    .box19 p {
        margin: 0;
        padding: 0;
    }

    .box_chui {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        border: solid 3px #ff0000;
    }

    .box_chui p {
        margin: 0;
        padding: 0;
        color: #ff0000;
    }

    .box_free {
        margin: 4em 0;
    }


    .index_pnt {
        width: 150px;
    }

    @media screen and (max-width: 767px) {
        .index_pnt {
            width: 120px;
        }
    }

    .box_pnt {
        position: relative;
        padding: 0.25em 1em;
        border: solid 1px #d5d5d5;
        padding: 30px;
    }

    .box_pnt_text {
        padding-bottom: 30px;
    }

    .box_pnt h1 {
        font-size: 1.6em;
    }

    .box_seibun {
        position: relative;
        padding: 0.25em 1em;
        background-color: #E6F4FD;
    }

    @media screen and (max-width: 767px) {
        #item_detail .freearea p {
            margin-bottom: 40px;
        }
    }

    .btn-item-link {
        display: block;
        margin: 1em auto;
        padding: 10px;
        background: #4D4D4D;
        border-radius: 50px;

    }
			
	.img-item-link {
        display: block;
        margin: 1em auto;
        border-radius: 50px;

    }

    @media screen and (min-width: 768px) {
        .btn-item-link {
            width: 40%;

        }
		.img-item-link {
            width: 50%;

        }
    }

    .btn-item-link a {
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
    }

    ul.cp_list {
        padding: 0.5em;
        list-style-type: none;
        text-align: left;
    }

    ul.cp_list li {
        position: relative;
        padding-left: 25px;
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 0.5em;
        line-height: 2em;
    }

    ul.cp_list li:before {
        content: "";
        position: absolute;
        top: .1em;
        left: 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        width: 8px;
        height: 18px;
        border-right: 1px solid #919191;
        border-bottom: 1px solid #919191;
    }


    .ul-align-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .kaihatsu .ceralabo_accordion dt a::before {
        display: none;
    }

    .sample_button:hover {
        opacity: 0.6;
    }


    a[href="#faq"]:link,
    a[href="#faq"]:visited {
        color: #4d4d4d;
    }

    a[href="#faq"]:hover {
        color: #9c9b9b;
    }

    a[href="#movie"]:link,
    a[href="#movie"]:visited {
        color: #4d4d4d;
    }

    a[href="#movie"]:hover {
        color: #9c9b9b;
    }
</style>
        <div class="freearea_main">
        <!-------------------------- ▼▼▼▼タイトル▼▼▼▼ ------------------------------------>
        
        <center>
          <div class="ceralabo_pc">
            <h1 class="main_title">セララボが開発する<br>
              美容好きの方におすすめしたいレチノール </h1>
          </div>
          <div class="ceralabo_pc_none">
            <h1 class="main_title_sp"> セララボが開発する<br>
              美容好きの方におすすめしたいレチノール </h1>
          </div>
          <p class="box_pnt_text center"> これまでに1,000製品以上の化粧品を解析してきた<br>
            かずのすけだからこそ開発できた、<br>
            積極的に美容成分を取り入れたい方におすすめの<br>
            自信作レチノール美容液です。 </p>
        </center>
        <!-------------------------- ▲▲▲▲タイトル▲▲▲▲ ------------------------------------> 
        
        <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/retinol_pc.png" class="ceralabo_pc" alt=""> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/retinol_sp.png" class="ceralabo_pc_none" alt="">
<br>
<p style="text-align: left;">
	<span style="font-size: 0.7em; color: #999999;">成分画像はイメージです。</span><br>
	<br>
		<span style="font-size: 0.9em; color: #999999;"><sup>*1</sup>レチノール</span><br>
		<span style="font-size: 0.9em; color: #999999;"><sup>*5</sup>セラミドＥＯＰ、セラミドＮＧ、セラミドＮＰ、セラミドＡＧ、セラミドＡＰ</span><br>
	    <span style="font-size: 0.9em; color: #999999;"><sup>*6</sup>フィトスフィンゴシン、グルコシルセラミド、セレブロシド</span><br>
        <span style="font-size: 0.9em; color: #999999;"><sup>*7</sup>水添レチノール、パルミチン酸レチノール 、リノール酸レチノール</span><br>
        <span style="font-size: 0.9em; color: #999999;"><sup>*8</sup>ヘマトコッカスプルビアリスエキス</span><br>
        <span style="font-size: 0.9em; color: #999999;"><sup>*9</sup>テトラヘキシルデカン酸アスコルビル、ナイアシンアミド、シアノコバラミン、グルコシルヘスペリジン、酢酸トコフェロール、トコフェロール
        </span><br>
    </p>
<br>
<br>
        <center>
          <div class="ceralabo_pc">
            <h1 class="main_title">純粋レチノール*¹をはじめとした<br>
              4種のレチノールで<br>
              肌にハリを与えます </h1>
          </div>
          <div class="ceralabo_pc_none">
            <h1 class="main_title_sp">純粋レチノール*¹をはじめとした<br>
              4種のレチノールで<br>
              肌にハリを与えます </h1>
          </div>
          <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/retinol2_pc.png" class="ceralabo_pc" alt=""> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/retinol2_sp.png" class="ceralabo_pc_none" alt=""> 
          {# <span style="font-size: 0.5em; color: #999999; margin: auto;">*¹レチノール(整肌成分)</span> #}
        </center>
        <center>
          <div class="box_free">
            <div class="ceralabo_pc">
              <h1 class="main_title center">計8種類のセラミドを配合し<br>
                肌のうるおいをサポート</h1>
            </div>
            <div class="ceralabo_pc_none">
              <h1 class="main_title_sp">計8種類のセラミドを配合し<br>
                肌のうるおいをサポート </h1>
            </div>
            <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/ceramide_pc.png" class="ceralabo_pc" alt=""> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/ceramide_sp.png" class="ceralabo_pc_none" alt=""> 
            <p class="center">※上記成分はすべて、整肌成分です</p>
            </div>
        </center>
        
        <!-------------------------- ▼▼▼▼コンテンツ▼▼▼▼ ------------------------------------>
        <center>
          <div class="box_free">
            <div class="ceralabo_pc">
              <h1 class="main_title center">不使用成分</h1>
            </div>
            <div class="ceralabo_pc_none">
              <h1 class="main_title_sp">不使用成分</h1>
            </div>
            <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/not_use_pc.png" class="ceralabo_pc" alt=""> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/not_use_sp.png" class="ceralabo_pc_none" alt=""> </div>
        </center>
        <center>
          <div class="box19">
            <div class="ceralabo_pc">
              <h1 class="main_title"> こんな人におすすめ </h1>
            </div>
            <div class="ceralabo_pc_none">
              <h1 class="main_title_sp"> こんな人に<br>
                おすすめ </h1>
            </div>
            <p class="box1_text left" style="font-size: 24px;">
            <ul class="cp_list ul-align-center left">
              <li>レチノールアイテムを使ってみたい</li>
              <li>レチノールと他のエイジングケア*⁴成分を一緒に補給したい</li>
              <li>オイルやグリセリンのべたつきが好みではない</li>
            </ul>
            <span style="font-size: 0.5em; color: #999999;">*⁴エイジングケアとは、年齢に応じた保湿のお手入れのことです</span>
            </p>
          </div>
        </center>
        <br>
        <br>
        <br>
        <center>
          <div class="ceralabo_pc">
              <h1 class="main_title">はじめてレチノール美容液を<br>
                お使いになる方へ</h1>
            </div>
            <div class="ceralabo_pc_none">
              <h1 class="main_title_sp">はじめてレチノール美容液を<br>
                お使いになる方へ</h1>
            </div>
          <p class="center">レチノール製品をはじめてお使いになる方は、<br>
            レチノール配合濃度の低い<br>
            セラキュア スペリオセラムAからのご使用をおすすめしております。</p>
          <br>
          <div class="img-item-link center"> <a href="https://cores-ec.site/ceralabo/products/detail/255"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/btn_b_pc.png" class="ceralabo_pc" alt=""/><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/btn_b_sp.png" class="ceralabo_pc_none" alt=""></a> </div>
          <br>
          <br>
          <p> 本製品使用後に赤みや皮むけなど、<br>
            肌トラブルが生じた場合は<br>
            ご使用をお控えください。</p>
          <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/how_to.png" alt="" width="50%">
        </center>
        <!-------------------------- ▼▼▼▼ポイント▼▼▼▼ ------------------------------------>
        <center style="margin-top:4em;">
          <div class="index_pnt"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k27a/index_pnt01.png" alt="Point01"></div>
          <div class="box_pnt">
             <div class="ceralabo_pc">
                <h1 class="title_pnt center">こだわりのレチノール成分</h1>
              </div>
              <div class="ceralabo_pc_none">
                <h1 class="main_title_sp">こだわりのレチノール成分</h1>
              </div>
            <p class="box_pnt_text center">レチノールとはビタミンAの一種で、高い美容効果が期待される整肌成分です。<br>
              肌にうるおいとみずみずしさを与え、つるんとハリ肌に導きます。<br>
              そのため、レチノールは毛穴が気になる方にもおすすめの成分です。<br>
              <br>
              セラシエル ヴィタセラムAに配合している純粋レチノール*¹は、肌へのやさしさを考慮し、<br>
              ゆっくりと働きかけるようレチノールをセラミドで包み込んだものを厳選しました。<br>
              <br>
              純粋レチノール*¹だけではなく、3種のレチノール誘導体*⁷を配合することで、<br>
高い安定性をもちつつもハリ・ツヤを与えます。
<br>
              <span style="font-size: 0.5em; color: #999999;">*¹レチノール(整肌成分)<br>
              *⁷水添レチノール、パルミチン酸レチノール 、リノール酸レチノール(整肌成分)</span> </p>
            <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/point1.png" alt=""/> </div>
        </center>
        <center style="margin-top:4em;">
          <div class="index_pnt"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k27a/index_pnt02.png" alt="Point02"></div>
          <div class="box_pnt">
            <div class="ceralabo_pc">
                <h1 class="title_pnt center">さまざまなエイジングケア*⁴成分を配合</h1>
              </div>
              <div class="ceralabo_pc_none">
                <h1 class="main_title_sp">さまざまなエイジングケア*⁴成分を配合</h1>
              </div>
            <p class="box_pnt_text center">７つの美容成分*³を配合することで、エイジングケア*⁴をサポートします。<br>
              <span style="font-size: 0.5em; color: #999999;">*⁴エイジングケアとは、年齢に応じた保湿のお手入れのことです<br>
              *³ヘマトコッカスプルビアリスエキス、テトラヘキシルデカン酸アスコルビル、ナイアシンアミド、シアノコバラミン、グルコシルヘスペリジン、酢酸トコフェロール、トコフェロール（整肌成分）</span> </p>
            <h2>アスタキサンチン<br>
              （ヘマトコッカスプルビアリスエキス）</h2>
            <p class="box_pnt_text center">「アスタキサンチン」は、サケやエビ・カニなどに含まれる天然の赤い色素で<br>
              美容成分の中でも、高いエイジングケア*⁴効果が期待されている成分です。<br>
              本商品で使用しているアスタキサンチンは、「ヘマトコッカス藻」という藻類から抽出しております。 </p>
            <div style="margin: -40px auto 0; width: 50%;"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/astaxanthin.png" alt=""></div>
            <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/6_pc.png" class="ceralabo_pc" alt=""> <img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/6_sp.png" class="ceralabo_pc_none" alt=""> <span style="font-size: 0.5em; color: #999999;">*⁴エイジングケアとは、年齢に応じた保湿のお手入れのことです<br>※上記成分はすべて、整肌成分です</span></div>
        </center>
        <center style="margin-top:4em;">
          <div class="index_pnt"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k27a/index_pnt03.png" alt="Point03"></div>
          <div class="box_pnt">
            <div class="ceralabo_pc">
                <h1 class="title_pnt center">オイル・グリセリンの配合量を<br>
                  最小限に</h1>
              </div>
              <div class="ceralabo_pc_none">
                <h1 class="main_title_sp">オイル・グリセリンの配合量を<br>
                  最小限に</h1>
              </div>
            <p class="box_pnt_text center">少しでも幅広い肌質の方にお使いいただけるよう、<br>
              オイル・グリセリンは原料由来の配合のみに留め、<br>
              意図的な添加をしておりません。<br>
              <br>
              べたつきを抑えつつ、なめらかな使用感です。</p>
            <div class="btn-item-link center"> <a href="https://cores-ec.site/ceralabo/user_data/topics24">グリセリンについての詳細はこちら</a> </div>
          </div>
        </center>
        <!-------------------------- ▲▲▲▲ポイント▲▲▲▲ ------------------------------------> 
        <br>
        <br>
        
        <!-------------------------- ▼▼▼▼セラシエル ヴィタセラムAとの違い▼▼▼▼ ------------------------------------>
        <center>
          <div class="ceralabo_pc">
              <h1 class="main_title">レチノール美容液シリーズ<br>
                セラシエル ヴィタセラムAとの違い </h1>
            </div>
            <div class="ceralabo_pc_none">
              <h1 class="main_title_sp">レチノール美容液シリーズ<br>
                セラシエル ヴィタセラムAとの違い </h1>
            </div>
          <p class="box_pnt_text center">セララボでは、お好みに合わせて選べるよう<br>
            2種類のレチノール美容液をご用意しています。</p>
          <br>
          <br>
          <p class="box_pnt_text center ceralabo_pc_none" style="margin-bottom: 20px;">※右にスクロールしてご覧ください。</p>
          <div class="wrap">
            <table>
              <thead>
                <tr>
                  <th scope="col" class="top"></th>
                  <th scope="col"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k32a/s_transp.png" style="width:50%;"> <br>
                    セラキュア<br>
                    スペリオセラムA </th>
                  <th scope="col"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/v_transp.png" style="width:50%;"> <br>
                    セラシエル<br>
                    ヴィタセラムA </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="top">おすすめの方</th>
                  <td>・はじめてレチノール製品を使う<br>
                    ・レチノールと一緒に、セラミドをし っかり補給したい </td>
                  <td>・レチノール製品に肌が慣れている<br>
                    ・レチノールと一緒に、他のエイジングケア成分も補給したい</td>
                </tr>
                <tr>
                  <th class="top">特徵</th>
                  <td>・セラキュアローションの約２倍のセラミド量を配合</td>
                  <td>・レチノールの他にも様々なエイジングケア*4成分を配合</td>
                </tr>
                <tr>
                  <th class="top">レチノール成分</th>
                  <td>・水添レチノール<br>
                    ・パルミチン酸レチノール<br>
                    ・リノール酸レチノール<br>（整肌成分） </td>
                  <td>・純粋レチノール*1<br>
                    ・水添レチノール<br>
                    ・パルミチン酸レチノール<br>
                    ・リノール酸レチノール<br>（整肌成分） </td>
                </tr>
                <tr>
                  <th class="top">レチノール総配合濃度</th>
                  <td>約0.06%</td>
                  <td>約 0.1%</td>
                </tr>
                <tr>
                  <th class="top">セラミド成分</th>
                  <td><span style="font-weight: bold; display: block;">【7種のヒト型セラミド】</span><span style="font-size: 0.6875em;"> セラミドEOP、セラミドNG、セラ ミドNS、セラミドNP、セラミドA G、セラミドAP、セラミドAS</span><br>
                    <span style="font-weight: bold; display: block;">【5種のセラミド類似体】</span> <span style="font-size: 0.6875em;">フィトスフィンゴシン、グルコシルセラミド、セレブロシド、スフィンゴ糖脂質、ラウロイルグルタミン酸ジ(フィトステリル/オクチルドデシル) <br>（整肌成分）</span></td>
                  <td><span style="font-weight: bold; display: block;">【5種のヒト型セラミド】</span> <span style="font-size: 0.6875em;">セラミドEOP、セラミドNG、セラミドNP、セラミドAG、セラミドAP</span><br>
                    <span style="font-weight: bold; display: block;">【3種のセラミド類似体】</span><span style="font-size: 0.6875em;"> フィトスフィンゴシン、セレブロシド、グルコシルセラミド<br>（整肌成分）</span> </td>
                </tr>
                <tr>
                  <th class="top">エイジングケア*⁴成分</th>
                  <td><span style="font-weight: bold; display: block;">【4種のエイジングケア*⁴成分】 </span><span style="font-size: 0.6875em;">ビタミンP誘導体(グルコシルヘスペリジン、ビタミンC誘導体(テトラヘキシルデカン酸アスコルビル)、ビタミンE誘導体（酢酸トコフェロール)、ビタミンE(トコフェロール)<br>（整肌成分）</span><br></td>
                  <td><span style="font-weight: bold; display: block;">【7種のエイジングケア*⁴成分】 </span><span style="font-size: 0.6875em;">ビタミンC誘導体(テトラヘキシルデカン酸アスコルビル)、アスタキサンチン(ヘマトコッカスブルゾアリスエキス)、ナイアシンアミド、ビタミンB12（シアノコバラミン)、ビタミンP誘導体(グルコシルヘスペリジン)、ビタミンE誘導体(酢酸トコフェロール)、ビタミントE(トコフェロール)<br>（整肌成分）</span><br></td>
                </tr>
                <!-- <tr>
                <th class="top">保湿力</th>
                <td>★★★☆☆</td>
                <td>★★★★☆</td>
              </tr>
              <tr>
                <th class="top">セラミド量</th>
                <td><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k34a/img_item_k34a_star.png" style="width:25%;"></td>
                <td>★★★☆☆</td>
              </tr> -->
              </tbody>
            </table>
            <center>
              <span style="font-size: 0.5em; color: #999999;">*¹レチノール(整肌成分)<br>
              *⁴エイジングケアとは、年齢に応じた保湿のお手入れのことです</span>
            </center>
            <br>
          </div>
          <div class="img-item-link center"> <a href="https://cores-ec.site/ceralabo/products/detail/255"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/btn_b_pc.png" class="ceralabo_pc" alt=""/><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k31a/btn_b_sp.png" class="ceralabo_pc_none" alt=""></a> </div>
        </center>
        <style>
    table {
        border-collapse: collapse;
        margin: 0 auto;
        padding: 0;
        width: 760px;
        table-layout: fixed;
        font-size: .85em;
    }

    table tr {
        background-color: #fff;
        padding: .35em;
        border: 2px solid #eee;
    }

    /*    table tr:last-child {
    border: none;
    }*/

    table th {
        padding: 2em;
        border-right: 2px solid #fff;
    }

    th.top {
        width: 30%;
    }
    th.sec {
        width: 30%;
    }

    table td {
        padding: 2em .5em;
        border-right: 2px solid #eee;
        text-align: center;
    }

    table thead tr {
        background-color: #E6F4FD;
        color: #000;
    }

    table tbody th {
        border-right: 2px solid #eee;
    }

    th.non {
        border-right: none;
    }

    .txt {
        text-align: left;
        font-size: .85em;
    }

    .price {
        color: #000;
        font-weight: bold;
        font-size: 1.3em
    }

    .price span {
        font-size: .6em;
    }

    @media screen and (max-width: 600px) {
        .wrap {
            overflow-x: scroll;
        }
    }
</style>
        <!-------------------------- ▲▲▲▲セラシエル ヴィタセラムAとの違い▲▲▲▲ ------------------------------------> 
        <!-------------------------- ▼▼▼▼使い方▼▼▼▼ ------------------------------------>
        <center style="margin-top:4em;">
          <div class="ceralabo_pc">
              <h1 class="main_title">使い方</h1>
            </div>
            <div class="ceralabo_pc_none">
              <h1 class="main_title_sp">使い方</h1>
            </div>
          <p class="center">レチノールの性質上、夜のご使用をおすすめします。<br>
            紫外線に当たる前のご使用はお控えください。<br>
            <br>
            化粧水で保湿した後、適量をなじませてください。<br>
            <br>
            -使用量の目安-<br>
            部分使いの場合：1～2プッシュ程度<br>
            全顔使用の場合：2～3プッシュ程度<br>
            <br>
※お肌の調子によっては、こちらの目安に関わらず使用量を調節してください。
<br>
            ※開封後は冷蔵庫での保管をおすすめします。 </p>
        </center>
        <center style="margin-top:4em;">
          <div class="ceralabo_pc">
              <h1 class="main_title">他の製品と組み合わせる際の使用順序</h1>
            </div>
            <div class="ceralabo_pc_none">
              <h1 class="main_title_sp">他の製品と組み合わせる際の使用順序</h1>
            </div>
          <p class="center">セララボでは敏感肌に配慮し、化粧水などでの保湿後の利用をおすすめしております。<br>
            <br>
            レチノールが肌に慣れている方につきましては、洗顔後すぐにお使いいただいたり、乳液やクリームの後の利用も可能です。<br>
            その他の美容液との併用も基本的に可能です。<br>
            <br>
            ※他社製品と併用される場合は、それぞれの使用方法をよく読み、パッチテスト等を行い注意してご使用ください。</p>
        </center>
        <!--
<center>
<div class="btn-item-link" style="background: #fe0000;">
<a class="link-video" href="#movie" style="color: #fff;" data-smoothScroll>
動画で使い方を見る
</a>
</div>
</center>
-->
        
        <style>
    a.link-video::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 14px;
        background: url({{ app.config.user_data_urlpath }}/ceralabo/img/img_icon_video.png) no-repeat;
        background-size: contain;
        margin-right: 3px;
    }
</style>
        <!-------------------------- ▲▲▲▲使い方▲▲▲▲ ------------------------------------> 
       </div> 
        <!-------------------------- ▼▼▼▼ブログリンク▼▼▼▼ ------------------------------------>
        <style>
    .blog_link {
        line-height: 2;
    }

    .blog_title {
        font-size: 24px;
    }
</style>
        
        <!--
<p class="blog_title">■ かずのすけの解説
</p>

<div class="blog_link">


<a href="https://ameblo.jp/rik01194/entry-12694449305.html"><u>
<font color="#5c5c5c">
セラミド＆NMF同時配合、グリセリンフリー＆ノンオイル【セラキュア センシティブジェリー】開発中
</font>
</u></a><br>

<a href="https://ameblo.jp/rik01194/entry-12712263755.html"><u>
<font color="#5c5c5c">
セラミド×NMF×グリセリンフリー保湿ジェル【セラキュアセンシティブジェリー】1月中旬発売決定！
</font>
</u></a><br>


<br>
</div>
<hr noshade="" align="left">
<br><br><br>
--> 
        <!------------------------------------ ▲▲▲▲ブログリンク▲▲▲▲ ------------------------------------>
        <div id="faq" style="margin-top:4em;">
          <center>
            <h2 class="title">よくある質問</h2>
          </center>
          <!-------------------------- ▼▼▼▼FAQ▼▼▼▼ ------------------------------------>
          <dl class="ceralabo_accordion" data-accordion>
            <dt><a href="#">過去にレチノール配合製品を使ったことがあり、皮むけが生じて使用をやめたことがあります。セララボのレチノール美容液は使用しても大丈夫ですか？<i class="ceralabo_accordion_icon"></i></a></dt>
            <dd>敏感肌の方にも挑戦しやすいレチノール美容液として開発しておりますが、問題なく使用できるという保証はできかねます。<br>
              肌に合うかご不安な方や、今までにレチノール配合の製品で肌トラブルが起きた方は、公式取扱店舗での店頭テスター、またはテスターパウチ（試供品）でお試ししてからのご使用を強くお勧めしております。<br>
              テスターパウチのお申込みについては、セララボ公式LINEにて定期的にご希望者の募集を行いますので、お友達登録してお知らせをお待ちください。<br>
              またご利用後肌トラブルが落ち着かない場合はご使用をお控えください。<br>
              <br>
              セララボ公式LINEは<a href="https://lin.ee/602Hx7K">こちら</a><br>
            </dd>
            <dt><a href="#">初めてレチノールを使うので、肌に合うか不安です。<i class="ceralabo_accordion_icon"></i></a></dt>
            <dd>肌に合うかご不安な方や、今までにレチノール配合の製品で肌トラブルが起きた方は、公式取扱店舗での店頭テスター、またはテスターパウチ（試供品）でお試ししてからのご使用を強くお勧めしております。<br>
              テスターパウチのお申込みについては、セララボ公式LINEにて定期的にご希望者の募集を行いますので、お友達登録してお知らせをお待ちください。<br>
              またご利用後肌トラブルが落ち着かない場合はご使用をお控えください。<br>
              <br>
              セララボ公式LINEは<a href="https://lin.ee/602Hx7K">こちら</a> </dd>
            {# <dt><a href="#">敏感肌で、はじめてレチノール製品を使います。肌に合うか不安です。<i class="ceralabo_accordion_icon"></i></a></dt>
            <dd>はじめてお使いになる方は、パッチテストの実施をおすすめしております。<br>
              顔にご使用になる際、はじめは毎日の連用を避け、3日おきなど間隔を空けてご使用ください。<br>
              ご使用後に赤みや皮むけが生じた場合は、清潔な水で洗い流し、以降のご使用はお控えください。<br>
              <br>
              お近くの公式取扱店舗にて、店頭にテスターを設置している場合もございますので、お手元にてお試しになりたい場合は店舗へ直接お問い合わせください。<br>
              <br>
              公式取扱店舗は<a href="#">こちら</a><br>
              <br>
              また、時期によってはテスターパウチ（試供品）を配布している場合がございます。<br>
              セララボ公式LINEにて希望者募集を行いますので、ご希望の場合はお友達追加の上、お知らせをお待ちください。<br>
              <br>
              セララボ公式LINEは<a href="#">こちら</a><br>
              <br>
              ※テスターパウチは数量限定となります。配布終了している場合もございますのでご了承ください。<br>
            </dd> #}
            <dt><a href="#">使用期限を教えてください。<i class="ceralabo_accordion_icon"></i></a></dt>
            <dd>開封後はお早めにお使い切っていただくことをおすすめしております。半年以内を目安にご使用ください。<br>
              また、開封後は冷蔵庫での保管をおすすめしております。<br>
              ※未開封の場合も、お手元にて1か月以上保管される場合や、夏場は冷蔵での保管をおすすめいたします。</dd>
            <dt><a href="#">今使っているセララボのスキンケアラインナップと組み合わせる場合の順番を教えてほしいです。<i class="ceralabo_accordion_icon"></i></a></dt>
            <dd>セララボでは敏感肌に配慮し、基本的に化粧水やオイルフリー美容液の後のご使用をおすすめしております。<br>
              <br>
              （例）セラキュア ローション　→　セラキュア シャインドリップ　→　セラキュア スペリオセラムA　→　セラキュア フェイスクリーム<br>
              <br>
              レチノールが肌に慣れている場合は、洗顔後すぐのご使用や、乳液・クリームなどオイルを含む製品の後にご使用いただくこともできます。 </dd>
            <dt><a href="#">オイル・グリセリンは配合されていますか？<i class="ceralabo_accordion_icon"></i></a></dt>
            <dd>セラキュア スペリオセラムA、セラシエル ヴィタセラムAともに、原料由来のオイル・グリセリンが少量配合されております。 </dd>
            <dt><a href="#">なぜオイル・グリセリンが配合されているのですか？苦手な成分なので配合してほしくありませんでした。<i class="ceralabo_accordion_icon"></i></a></dt>
            <dd>セラキュア スペリオセラムA、セラシエル ヴィタセラムAに配合されているオイル・グリセリンは、原料由来のものです。<br>
              少しでも幅広い肌質の方にお使いいただきやすいよう、意図的な配合はしておりません。<br>
              オイル・グリセリンの使用感が苦手な方にもお使いいただきやすくなっております。<br>
              お近くに店頭テスター設置の公式取扱店舗がある場合は、お手元にてぜひお試しください。<br>
              <br>
              公式取扱店舗一覧は<a href="https://cores-ec.site/ceralabo/user_data/shoplist">こちら</a><br>
              <br>
              また、時期によってはテスターパウチ（試供品）を配布している場合がございます。<br>
              セララボ公式LINEにて希望者募集を行いますので、ご希望の場合はお友達追加の上、お知らせをお待ちください。<br>
              <br>
              セララボ公式LINEは<a href="https://lin.ee/602Hx7K">こちら</a><br>
              <br>
              ※テスターパウチは数量限定となります。配布終了している場合もございますのでご了承ください。 </dd>
            <dt><a href="#">中身の色味が物によって違う気がします。使用しても問題ないですか？<i class="ceralabo_accordion_icon"></i></a></dt>
            <dd>中身の色味は配合成分に由来するものになります。<br>
              天然由来成分の為、製品によって色味が異なる場合がございますが、使用に問題はございません。<br>
              なお、極端に色味が薄い(透明に近い)などの場合はお問い合わせください。 </dd>
          </dl>
          <!-------------------------- ▲▲▲▲FAQ▲▲▲▲ ------------------------------------> 
        </div>
        <p class="blog_title">■ かずのすけの解説</p>

    <div class="blog_link">
    <a href="https://ameblo.jp/rik01194/entry-12825857842.html"><u>
        <font color="#5c5c5c">
            【誰でも無料で試せます】敏感肌のための『攻め』と『守り』２つのレチノール美容液がついに完成！
        </font>
        </u></a><br>
    <br>
</div>
<hr noshade="" align="left">
<br><br>
        <!-------------------------- ▼▼▼▼動画▼▼▼▼ ------------------------------------>
        <div id="movie" class="iframe-wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/cwDg8rgats4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="ceralabo_btn_pageTop_wrap"> <a href="#" class="ceralabo_btn_pageTop" data-smoothScroll>Page Top <img src="/user_data/ceralabo/img/icon_doubleArrow.svg" alt="矢印"></a> </p>
        <style>
    .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* アスペクト比16:9の場合 */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin-bottom: 2rem;
        /* YouTubeの下に余白をつける */
    }

    .iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
        <!------------------------------------ ▲▲▲▲動画▲▲▲▲ ------------------------------------>