肌本来の保湿成分を落としすぎない設計で「洗いすぎ」による肌トラブルを起こしにくい、やさしい洗浄力の洗顔・ボディ兼用ソープです。
酸性石けんをメインとした低刺激かつ比較的高めの洗浄力をもつ- Induce -は、初めてオフスキンケアを行う方や、さっぱりとした洗い心地がお好みの方におすすめです。

<font size="2">■</font>商品名：CeraVeil skin wash - Induce -

<font size="2">■</font>内容量：250mL

<font size="2">■</font>全成分：水、ラウレス-6カルボン酸Na、コカミドDEA、ラウロイルグルタミン酸TEA、コカミドプロピルベタイン、ラウラミドDEA、ペンチレングリコール、ラウリン酸BG、ヒアルロン酸Na、グリチルリチン酸2K、グリセリン、塩化Na、EDTA-2Na、クエン酸、エチルヘキシルグリセリン、フェノキシエタノール

<font size="2">■</font>不使用成分：アルコール / 植物エキス / 精油 / オイル / 着色剤  / 香料 / パラベン

<font size="2">■</font>送料：全国一律無料

<hr noshade="" align="left">

{# ここからフリーエリア #}
<style>
p {
line-height: 1.5em;
font-color: #4D4D4D;
padding: 0;
margin: 0;
}

.main_title{
font-size: 2em;
 text-align: center;
}

.title_sub{
font-size: 24px;
}


.title {
  position: relative;
  display: inline-block;
  margin-bottom: 2em;
 text-align: center;
color: #4D4D4D;
}

.title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 2.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #525263;
  border-radius: 2px;
}

.title_2{
padding: 0.3em 1.5em 0.3em 1.5em;/*文字周りの余白*/
  color: #fff;/*文字色*/
  background: #b3b3b3;/*背景色*/
 border-radius: 100vh;
}

.img_pc{
 width: 70%;
 text-align: center;
}

.text_sub{
font-size: 12px;
 color: #a5a5a5; 
margin-top: -10px;
line-height: -1em;
}

.under {
background: linear-gradient(transparent 50%, #fff6c0 50%);
}

.bold {
 font-weight: bold;
}

.center{
text-align: center;
}

.left{
text-align: left;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 1px #dbdbdb;
}

.box3 {
    padding: 0.5em 2em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #f8f8f8;/*背景色*/
}

.box3 p{
color: #4d4d4d;
}

.box3 .title_sub{
color: #333333;
}

.box19 {
    position: relative;
    padding:0.25em 1em;
 width: 85%;
}
.box19:before,.box19:after{ 
    content:'';
    width: 30px;
    height: 40px;
    position: absolute;
    display: inline-block;
}
.box19:before{
    border-left: solid 2px #777777;
    border-top: solid 2px #777777;
    top:0;
    left: 0;
}
.box19:after{
    border-right: solid 2px #777777;
    border-bottom: solid 2px #777777;
    bottom:0;
    right: 0;
}
.box19 p {
    margin: 0; 
    padding: 0;
}

</style>

<!-------------------------- ▼▼▼▼タイトル▼▼▼▼ ------------------------------------>
<center>
<h1 class="main_title">
オフスキンケアの<br class="ceralabo_pc_none">基本
</h1>

<p>
洗浄力を下げる、という選択。<br>
はじめてみませんか？
</p>
</center>
<!-------------------------- ▲▲▲▲タイトル▲▲▲▲ ------------------------------------>

<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k2a/img_item_k2a_pc_01.png" class="ceralabo_pc">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k2a/img_item_k2a_sp_01.png" class="ceralabo_pc_none">

<h1 class="main_title center">不使用成分</h1>
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k2a/img_item_k2a_pc_02.png" class="ceralabo_pc">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k2a/img_item_k2a_sp_02.png" class="ceralabo_pc_none">

<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/use_inst/img_item_skinwash _ind_pc.png" class="ceralabo_pc">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/use_inst/img_item_skinwash _ind_sp.png" class="ceralabo_pc_none">


<!------------------- ▼▼動画リンク_pc▼▼ -------------------->
<br class="ceralabo_pc"><br class="ceralabo_pc">
<a href="#movie" data-smoothScroll>
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/movie_link/img_item_movie_link_pc.png" class="ceralabo_pc">
</a>
<br class="ceralabo_pc"><br class="ceralabo_pc"><br class="ceralabo_pc">
<!------------------- ▲▲動画リンク_pc▲▲ -------------------->
<!------------------- ▼▼動画リンク_sp▼▼ -------------------->
<br class="ceralabo_pc_none"><br class="ceralabo_pc_none">
<a href="#movie" data-smoothScroll>
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/movie_link/img_item_movie_link_sp.png" class="ceralabo_pc_none">
</a>
<br class="ceralabo_pc_none"><br class="ceralabo_pc_none"><br class="ceralabo_pc_none">
<!------------------- ▲▲動画リンク_sp▲▲ -------------------->
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/use_inst/img_item_use_inst_ceracure_pc.png" class="ceralabo_pc" alt="CeraLabo">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/use_inst/img_item_use_inst_ceracure_sp.png" class="ceralabo_pc_none" alt="CeraLabo">


<a href="https://cores-ec.site/ceralabo/products/detail/75">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k2a/img_item_k2a_pc_03.png" class="ceralabo_pc" alt="CeraLabo">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_item/k2a/img_item_k2a_sp_03.png" class="ceralabo_pc_none" alt="CeraLabo">
</a>

<br>
<br>
<br class="ceralabo_pc">
<br class="ceralabo_pc">


<center>
<h2 class="title">よくある質問</h2>
</center>
<!-------------------------- ▼▼▼▼FAQ▼▼▼▼ ------------------------------------>
<dl class="ceralabo_accordion" data-accordion>

                <dt><a href="#">CeraVeil Skin Washの- Induce -と- Extra -のちがいを教えてください<i class="ceralabo_accordion_icon"></i></a></dt>
                <dd>
- Induce -は酸性石けん成分をベースに、低刺激ながらもしっかり洗浄できます。<br>
- Extra -はアミノ酸系の成分をベースに、- Induce -より更に低刺激かつ穏やかに洗浄できます。 <br>
どちらも肌への刺激になりやすい成分を極力排除し、幅広い肌質の方にご使用いただけるようこだわっています。
<br>
                </dd>


               <dt><a href="#">これからオフスキンケアを始めるのですが、CeraVeil Skin Washの2種類の洗浄料ではどちらを使うのがおすすめですか？<i class="ceralabo_accordion_icon"></i></a></dt>
                <dd>
普段、市販の洗顔料や石けんをご使用の方は- Induce -から始めていただくのがお勧めです。<br>
すでに半年～一年程度オフスキンケアをされている方は- Extra -がおすすめです。 <br>
極度の乾燥肌や敏感肌の方には初めから- Extra -のご使用をお勧めしますが、まずはかかりつけの皮膚科医までご相談ください。 <br>

                </dd>

                <dt><a href="#">他社の「石けんで落ちる化粧品」を使っていますが、CeraVeil Skin Washで落とせますか？<i class="ceralabo_accordion_icon"></i></a></dt>
                <dd>
他社様の商品のため、落とせるとは断言できません。 CeraVeil - Platinum Cleansing Oil -のご使用をお勧めいたします。<br>
                </dd>

               <dt><a href="#">CeraVeil Skin Washの粘度がいつもと違います。使用して大丈夫ですか？<i class="ceralabo_accordion_icon"></i></a></dt>
                <dd>
CeraVeil Skin Washは成分の性質上、保管環境により粘度が変化しやすい商品です。 <br>
状況によりかなりドロッとしたり、まれにゼリー状になることがありますが、異臭や変色がみられなければご使用いただけます。 <br>
                </dd>



</dl>
<!-------------------------- ▲▲▲▲FAQ▲▲▲▲ ------------------------------------>




<!-------------------------- ▼▼▼▼ブログリンク▼▼▼▼ ------------------------------------>
<br><br>
<hr noshade="" align="left">
<br>
<style>
.blog_link{
line-height: 2;
}

.blog_title{
font-size: 24px;
}
</style>

<p class="blog_title">■ かずのすけの解説と皆様からの声
</p>

<div class="blog_link">


<a href="https://ameblo.jp/rik01194/entry-12568508928.html"><u><font color="#5c5c5c">
CeraLaboスキンケアの基本的な使用手順、お勧め組み合わせ、セラミド配合量等まとめ【最新版】
</font></u></a><br>

<a href="https://ameblo.jp/rik01194/entry-12398748554.html"><u><font color="#5c5c5c">
CeraLabo試してみるならまずはここから！『オフスキンケア3点セット』の紹介！
</font></u></a><br>

<a href="http://ameblo.jp/rik01194/entry-12037337166.html"><u><font color="#5c5c5c">
『CeraVeil　Skinwash』　の紹介と解説
</font></u></a><br>

<a href="http://ameblo.jp/rik01194/entry-12014635721.html"><u><font color="#5c5c5c">
プロデュース第二弾！　『CeraVeil　Skinwash』　について
</font></u></a><br>

<a href="http://ameblo.jp/rik01194/entry-12039391070.html"><u><font color="#5c5c5c">
セラヴェールスキンウォッシュの基本の使い方
</font></u></a><br>

<a href="https://ameblo.jp/rik01194/entry-12210944055.html"><u><font color="#5c5c5c">
油脂系クレンジング後のW洗顔、する？しない？　見極めのコツ
</font></u></a><br>

<a href="http://ameblo.jp/rik01194/entry-12094900896.html"><u><font color="#5c5c5c">
詰め替え用頂きました！
</font></u></a><br>

<a href="http://ameblo.jp/rik01194/entry-12041298860.html"><u><font color="#5c5c5c">
【セラヴェールスキンウォッシュ】　嬉しいレビュー続々！
</font></u></a><br>

<a href="http://ameblo.jp/rik01194/entry-12046129249.html"><u><font color="#5c5c5c">
【セラヴェールスキンウォッシュ】　嬉しいレビュー　その２
</font></u></a><br>


<br>
</div>
<hr noshade="" align="left">
<br><br><br>
<!------------------------------------ ▲▲▲▲ブログリンク▲▲▲▲ ------------------------------------>


<!-------------------------- ▼▼▼▼動画▼▼▼▼ ------------------------------------>
<div id="movie" class="iframe-wrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/c6jZRMHXd5Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p class="ceralabo_btn_pageTop_wrap">
<a href="#" class="ceralabo_btn_pageTop" data-smoothScroll>Page Top <img src="/user_data/ceralabo/img/icon_doubleArrow.svg" alt="矢印"></a>
</p>
<style>
    .iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* アスペクト比16:9の場合 */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin-bottom: 2rem; /* YouTubeの下に余白をつける */
    }
    .iframe-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<!------------------------------------ ▲▲▲▲動画▲▲▲▲ ------------------------------------>


<br>