<div class="ceralabo_top_itemlist">
    <div class="ceralabo_top_itemlist_box">
        <h2 class="ceralabo_ttl_main">
            Item List
        </h2>
        <h3 class="ceralabo_ttl_main_sml">商品一覧</h3>
        <div class="ceralabo_top_itemlist_box_scrolllst">
            <div class="swiper-container swiper-navigation">
                <div class="swiper-wrapper">
                    <div id="tab1" class="swiper-slide selected tab">SKIN CARE<br><span>スキンケア</span></div>
                    <div id="tab2" class="swiper-slide tab">MAKE UP<br><span>メイクアップ</span></div>
                    <div id="tab3" class="swiper-slide tab">HAIR CARE<br><span>ヘアケア</span></div>
                    <div id="tab4" class="swiper-slide tab">OTHERS<br><span>その他</span></div>
                </div>
            </div>


            <div class="swiper-container swiper-contents">
                <div id ="slide" class="swiper-wrapper">
                    <!--SKIN CARE  スキンケア-->
                    <div id ="first" class="swiper-slide">
                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst">


                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/52">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_01_cleansingoil.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥3,800<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="103">
                                            <input type="hidden" name="product_id" value="52">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/177">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_02_lotion.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥3,400<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="293">
                                            <input type="hidden" name="product_id" value="177">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/54">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_03_sensitivelotion.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥2,900<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="105">
                                            <input type="hidden" name="product_id" value="54">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/55">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_04_induce.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥1,800<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="106">
                                            <input type="hidden" name="product_id" value="55">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--SKIN CARE  スキンケア-->



                    <!--MAKE UP  メイクアップ-->
                    <div id="second" class="swiper-slide">
                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst">

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/61">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_05_liquid01.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥3,500<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="112">
                                            <input type="hidden" name="product_id" value="61">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/62">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_06_powder.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥3,400<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="113">
                                            <input type="hidden" name="product_id" value="62">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/98">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_top/itemlist/img_top_itemlist_UV.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥4,200<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="170">
                                            <input type="hidden" name="product_id" value="98">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/64">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_08_uv.png"></div>
                                        </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥3,500<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="115">
                                            <input type="hidden" name="product_id" value="64">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--MAKE UP  メイクアップ-->



                    <!--HAIR CARE  ヘアケア-->
                    <div id="third" class="swiper-slide">
                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst">

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/65">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_09_shampoo.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥2,500<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="116">
                                            <input type="hidden" name="product_id" value="65">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/66">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_10_treatment.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥2,900<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="117">
                                            <input type="hidden" name="product_id" value="66">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/67">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_11_ChemicalRepair.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥3,200<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="118">
                                            <input type="hidden" name="product_id" value="67">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--HAIR CARE  ヘアケア-->


                    <!--OTHERS その他-->
                    <div id="four" class="swiper-slide">
                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst">

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/68">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_12_FabricWash.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥2,600<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="119">
                                            <input type="hidden" name="product_id" value="68">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/69">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_13_zukan.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥1,430<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="120">
                                            <input type="hidden" name="product_id" value="69">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/70">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_14_OffSkinCare.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item_name ceralabo_top_scrolllst_item_name">￥1,430<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="121">
                                            <input type="hidden" name="product_id" value="70">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="ceralabo_top_itemlist_box_scrolllst_slide_lst_item">
                                <div>
                                    <a href="https://cores-ec.site/ceralabo/products/detail/71">
                                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/img_top_itemlist_15_kaji.png"></div>
                                    </a>
                                    <div class="ceralabo_top_scrolllst_item_info">
                                        <div class="ceralabo_top_scrolllst_item_name">￥1,430<span>（税込）</span></div>
                                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="mode" value="add_cart">
                                            <input type="hidden" name="product_class_id" value="122">
                                            <input type="hidden" name="product_id" value="71">
                                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--OTHERS  その他-->



                </div>
            </div>
            <div class="swiper-button-prev ceralabo_pc_none"></div>
            <div class="swiper-button-next ceralabo_pc_none"></div>
            <div class="txt_right">
                <a class="ceralabo_btn" href="{{ url('product_list') }}">All Item >></a>
            </div>
        </div>
    </div>
</div>