<div class="ceralabo_top_pickup">
    <div class="ceralabo_top_pickup_box">
        <h2 class="ceralabo_ttl_main">
            Pick Up
        </h2>
        <h3 class="ceralabo_ttl_main_sml">おすすめ商品</h3>


        <div class="row ceralabo_top_scrolllst">


            <div class="col-sm-2 col-xs-10 ceralabo_top_scrolllst_item">
                <div>
                    <a href="https://cores-ec.site/ceralabo/products/detail/52">
                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_top/img_top_pickup_01.png"></div>
                    </a>
                    <div class="ceralabo_top_scrolllst_item_info">
                        <div class="ceralabo_top_scrolllst_item_name">￥3,800<span>（税込）</span></div>
                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="mode" value="add_cart">
                            <input type="hidden" name="product_class_id" value="103">
                            <input type="hidden" name="product_id" value="52">
                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-sm-2 col-xs-10 ceralabo_top_scrolllst_item">
                <div>
                    <a href="https://cores-ec.site/ceralabo/products/detail/55">
                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_top/img_top_pickup_04_Induce.png"></div>
                        </a>
                    <div class="ceralabo_top_scrolllst_item_info">
                        <div class="ceralabo_top_scrolllst_item_name">￥1,800<span>（税込）</span></div>
                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="mode" value="add_cart">
                            <input type="hidden" name="product_class_id" value="106">
                            <input type="hidden" name="product_id" value="55">
                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                        </form>
                    </div>
                </div>
            </div>




            <div class="col-sm-2 col-xs-10 ceralabo_top_scrolllst_item">
                <div>
                    <a href="https://cores-ec.site/ceralabo/products/detail/191">
                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_top/img_top_pickup_FaceCream.png"></div>
                    </a>
                    <div class="ceralabo_top_scrolllst_item_info">
                        <div class="ceralabo_top_scrolllst_item_name">￥7,600<span>（税込）</span></div>
                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="mode" value="add_cart">
                            <input type="hidden" name="product_class_id" value="317">
                            <input type="hidden" name="product_id" value="191">
                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                        </form>
                    </div>
                </div>
            </div>




            <div class="col-sm-2 col-xs-10 ceralabo_top_scrolllst_item">
                <div>
                    <a href="https://cores-ec.site/ceralabo/products/detail/177">
                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_top/img_top_pickup_05_Lotion.png"></div>
                        </a>
                    <div class="ceralabo_top_scrolllst_item_info">
                        <div class="ceralabo_top_scrolllst_item_name">￥3,400<span>（税込）</span></div>
                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="mode" value="add_cart">
                            <input type="hidden" name="product_class_id" value="293">
                            <input type="hidden" name="product_id" value="177">
                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                        </form>
                    </div>
                </div>
            </div>




            <div class="col-sm-2 col-xs-10 ceralabo_top_scrolllst_item">
                <div>
                    <a href="https://cores-ec.site/ceralabo/products/detail/186">
                        <div class="ceralabo_top_scrolllst_item_photo"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img_top/img_top_pickup_RedMoist.png"></div>
                    </a>
                    <div class="ceralabo_top_scrolllst_item_info">
                        <div class="ceralabo_top_scrolllst_item_name">￥3,700<span>（税込）</span></div>
                        <form action="{{ url('homepage', {forceMaster: true}) }}plugin/Shiro8AddCart3/add/" method="post" class="s8addcartPlg ceralabo_top_scrolllst_item_cart">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="mode" value="add_cart">
                            <input type="hidden" name="product_class_id" value="302">
                            <input type="hidden" name="product_id" value="186">
                            <button type="submit" class="ceralabo_top_scrolllst_item_cart_btn"><img src="{{ app.config.user_data_urlpath }}/ceralabo/img/icon_cart.svg"></button>
                        </form>
                    </div>
                </div>
            </div>




        </div>


    </div>
</div>