{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="ceralabo_top_feature">
<div class="ceralabo_top_feature_box">
<h2 class="ceralabo_ttl_main">
Topics
</h2>
<h3 class="ceralabo_ttl_main_sml">特集</h3>
<div class="row ceralabo_top_feature_box_scrolllst">



<!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
<div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
<div>
<a href="{{ url(app.config.user_data_route, {'route': 'topics29'}) }}">
<div class="ceralabo_top_feature_box_scrolllst_item_photo">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/29/topics_bn.jpg">
</div>
<div class="ceralabo_top_feature_box_scrolllst_item_info">
<dl>
<dt class="ceralabo_top_feature_box_scrolllst_item_name">レチノールトピックス</dt>
<dd class="ceralabo_top_feature_box_scrolllst_item_comment">CeraLabo初 2種のレチノール美容液のご紹介</dd>
</dl>
</div>
</a>
</div>
</div>
<!---------------------------- ▲▲▲記事▲▲▲ ------------------------------>

<!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
<div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
<div>
<a href="{{ url(app.config.user_data_route, {'route': 'topics26'}) }}">
<div class="ceralabo_top_feature_box_scrolllst_item_photo">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/26/topics26_16.jpg">
</div>
<div class="ceralabo_top_feature_box_scrolllst_item_info">
<dl>
<dt class="ceralabo_top_feature_box_scrolllst_item_name">2022年の成分リニューアルについて</dt>
<dd class="ceralabo_top_feature_box_scrolllst_item_comment">2022年7月の一部アイテムの成分リニューアルについて、その経緯をご説明いたします。</dd>
</dl>
</div>
</a>
</div>
</div>
<!---------------------------- ▲▲▲記事▲▲▲ ------------------------------>

{# <!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
<div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
<div>
<a href="{{ url(app.config.user_data_route, {'route': 'topics25'}) }}">
<div class="ceralabo_top_feature_box_scrolllst_item_photo">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/25/topics25_06.jpg">
</div>
<div class="ceralabo_top_feature_box_scrolllst_item_info">
<dl>
<dt class="ceralabo_top_feature_box_scrolllst_item_name">セラキュアセンシティブシリーズのご紹介</dt>
<dd class="ceralabo_top_feature_box_scrolllst_item_comment">ご好評をいただいている「セラキュアセンシティブシリーズ」の魅力をご紹介。</dd>
</dl>
</div>
</a>
</div>
</div>
<!---------------------------- ▲▲▲記事▲▲▲ ------------------------------> #}







{# 
<!---------------------------- ▼▼▼記事▼▼▼ ------------------------------>
<div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
<div>
<a href="{{ url(app.config.user_data_route, {'route': 'topics21'}) }}">
<div class="ceralabo_top_feature_box_scrolllst_item_photo">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/21/topics21_01.png">
</div>
<div class="ceralabo_top_feature_box_scrolllst_item_info">
<dl>
<dt class="ceralabo_top_feature_box_scrolllst_item_name">冬の肌を守る方法とは</dt>
<dd class="ceralabo_top_feature_box_scrolllst_item_comment">いつものケアに足りない保湿をプラスして、ふっくら潤う素肌を守りましょう。</dd>
</dl>
</div>
</a>
</div>
</div>
<!---------------------------- ▲▲▲記事▲▲▲ ------------------------------>
#}


<div class="col-sm-4 col-xs-12 ceralabo_top_feature_box_scrolllst_item">
<div>
<a href="{{ url(app.config.user_data_route, {'route': 'topics00'}) }}">
<div class="ceralabo_top_feature_box_scrolllst_item_photo">
<img src="{{ app.config.user_data_urlpath }}/ceralabo/img_topics/00/topics00_01_2.png">
</div>
<div class="ceralabo_top_feature_box_scrolllst_item_info">
<dl>
<dt class="ceralabo_top_feature_box_scrolllst_item_name">かずのすけ、とは</dt>
<dd class="ceralabo_top_feature_box_scrolllst_item_comment">お肌に悩むすべての方のお力になれれば幸いです。</dd>

</dl>
</div>
</a>
</div>
</div>








</div>


<div class="ceralabo_top_feature_box_scrolllst_item_more">
<a class="ceralabo_btn" href="{{ url(app.config.user_data_route, {'route': 'topics'}) }}">More >></a>
</div>
</div>
</div>