{% extends 'default_frame.twig' %}
{% block main %}
<div id="main">
  <div id="main_middle">
    <div id="contents" class="main_only">
      <div class="container-fluid inner no-padding">
        <div id="main">


<div class="chozendo_top_topics">
    <div class="chozendo_top_topics_row">

<div class="chozendo_top_topics_item">
            <a href="{{ url(app.config.user_data_route, {'route': 'topics07'}) }}">
               <img src="{{ app.config.user_data_urlpath }}/chozendo/img_topics/07/topics07.jpg">
                <p class="chozendo_top_topics_txt">
「気虚」「血虚」とは？
                </p>
            </a>
        </div>

        <div class="chozendo_top_topics_item">
            <a href="{{ url(app.config.user_data_route, {'route': 'topics05'}) }}">
               <img src="{{ app.config.user_data_urlpath }}/chozendo/img_topics/05/oyu.png">
                <p class="chozendo_top_topics_txt">
暖-ぬくい-の使い方いろいろ
                </p>
            </a>
        </div>




        <div class="chozendo_top_topics_item">
            <a href="{{ url(app.config.user_data_route, {'route': 'topics04'}) }}">
               <img src="{{ app.config.user_data_urlpath }}/chozendo/img_topics/04/main.png">
                <p class="chozendo_top_topics_txt">
フォロー＆リツイートで澄楽茶お試しパックプレゼント！
                </p>
            </a>
        </div>



        <div class="chozendo_top_topics_item">
            <a href="{{ url(app.config.user_data_route, {'route': 'topics03'}) }}">
               <img src="{{ app.config.user_data_urlpath }}/chozendo/img_topics/03/main.png">
                <p class="chozendo_top_topics_txt">
「澄潤妃」で作る薬膳酒
                </p>
            </a>
        </div>



        <div class="chozendo_top_topics_item">
            <a href="{{ url(app.config.user_data_route, {'route': 'topics01'}) }}">
               <img src="{{ app.config.user_data_urlpath }}/chozendo/img_topics/01/topics01_main.png">
                <p class="chozendo_top_topics_txt">
「澄善堂」に込めた想い
                </p>
            </a>
        </div>


        <div class="chozendo_top_topics_item">
            <a href="{{ url(app.config.user_data_route, {'route': 'topics02'}) }}">
               <img src="{{ app.config.user_data_urlpath }}/chozendo/img_topics/02/topics02_main.png">
                <p class="chozendo_top_topics_txt">
「澄楽茶」名前の由来
                </p>
            </a>
        </div>



    </div>
</div>




        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}